body {
  padding: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 30px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px;
}

.alert {
  margin: 0 0 30px;
}

.alert svg {
  position: relative;
  top: -1px;
  margin-right: 5px;
}

form {
  margin: 0 0 40px;
}

label {
  font-size: 14px;
}

textarea.form-control {
  min-height: 150px;
}

.links {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 0 40px;
  padding: 15px;
  height: 465px;
  overflow: auto;
  font-size: 13px;
}
