body {
  padding: 40px 100px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 50px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 40px;
}

label {
  font-size: 14px;
}

textarea.form-control {
  min-height: 150px;
}

.links {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  min-height: 465px;
  font-size: 13px;
}
